$cream: #faf8eb;
$green: #2A4634;
$yellow: #FECC0C;

.navbar {
	border-radius: 0px !important;

	&.navbar-inverse {
		background-color: $green;

	}

}

.gallery {

	.gallery__photo {

		position: relative;

		.gallery__delete {
			display: none;
			top: 5px;
			right: 5px;
			position: absolute;
		}

		&:hover {

			.gallery__delete {
				display: block;
			}
		}
	}
}